<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>define dreams</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      
    </style>
</head>
<body>
    <main>
        <div class="big-wrapper light">
            <img src="./img/shape.png" alt="" class="shape" />
    
            <header>
              <div class="container">
                <div class="logo">
                  <img src="./img/logo.png" alt="Logo" />
                  
                </div>
    
                <div class="links">
                  <ul>
                    <li><a href="#">Define Dreams</a></li>
                    <li><a href="#">Costs &expences</a></li>
                    <li><a href="#">Target Monthly Income</a></li>
                    <li><a href="#" class="btn">Sign up</a></li>
                    <li><a href="#" class="btn">login</a></li>
                  </ul>
                </div>
    
                <div class="overlay"></div>
    
                <div class="hamburger-menu">
                  <div class="bar"></div>
                </div>
              </div>
              <section id="define--dreams">
                <section id="showed-by-defaulf">
              <h1>Define Dreams</h1>
              <p class="">
                  Define dreams with things you want to Have and Do and what you want to Be
                  in the Dreamline calculator in 12-month
              </p>
              
              
              <p class="move-on">
                  Start with your Having Dreamlines: <img id="ha-img" src="./img/having.png"> <a id="display-having" href="#">Having</a>
              </p>
              </section>
              <section id="show-having">
                <h1> <img id="ha-imgg" src="./img/having.png"> Having</h1>
                
                <p>
                    What do you dream of Having ?
                </p>
                <p class="select-here">Select here</p>
                
                <div id="having-selected" class="input">
                  <form class="form">
                  <label class="checkbox" for="ha1">
                    <input class="checkbox__input" type="checkbox" name="ha1" id="ha1">
                    <div class="checkbox__box"></div>
                    <input type="text" placeholder="big house">

                  </label>
                  <label class="checkbox" for="ha2">
                    <input class="checkbox__input" type="checkbox" name="ha2" id="ha2">
                    <div class="checkbox__box"></div>
                    <input type="text" placeholder="Nice car">

                  </label>
                  <label class="checkbox" for="ha3">
                    <input class="checkbox__input" type="checkbox" name="ha3" id="ha3">
                    <div class="checkbox__box"></div>
                    <input type="text" placeholder="gaming computer">

                  </label>
                  <label class="checkbox" for="ha4">
                    <input class="checkbox__input" type="checkbox" name="ha4" id="ha4">
                    <div class="checkbox__box"></div>
                    <input type="text" placeholder="Fashionable clothes">

                  </label>
                  
                  </form>
              </div>
              
                <p class="move-on">
                    Move on to your Being Dreamlines: <img id="being-img" src="./img/being.png"> <a id="display-being" href="#">Being</a>
                </p>
              </section>
              <section id="show-being">
                <h1> <img src="./img/being.png"> Being</h1>
                
                <p>
                    What do you dream of Being ?
                </p>
                <p class="select-here">Select here</p>
                
                <div id="being-selected" class="input">
                  <form class="form">
                    <label class="checkbox" for="ba1">
                      <input class="checkbox__input" type="checkbox" name="ba1" id="ba1">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="instagram model">
  
                    </label>
                    <label class="checkbox" for="ba2">
                      <input class="checkbox__input" type="checkbox" name="ba2" id="ba2">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="good seller">
  
                    </label>
                    <label class="checkbox" for="ba3">
                      <input class="checkbox__input" type="checkbox" name="ba3" id="ba3">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="good speaker">
  
                    </label>
                    <label class="checkbox" for="ba4">
                      <input class="checkbox__input" type="checkbox" name="ba4" id="ba4">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="fit">
  
                    </label>
                    
                    </form>
                  
              </div>
              
                <p class="move-on">
                    Move on to your Doing Dreamlines: <img id="being-img" src="./img/doing.png"> <a id="display-doing" href="#">Doing</a>
                </p>
              </section>
              <section id="show-doing">
                <h1> <img src="./img/doing.png"> Doing</h1>
                
                <p>
                    What do you dream of Doing ?
                </p>
                <p class="select-here">Select here</p>
                
                <div id="doing-selected" class="input">
                  <form class="form">
                    <label class="checkbox" for="da1">
                      <input class="checkbox__input" type="checkbox" name="da1" id="da1">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="travel">
  
                    </label>
                    <label class="checkbox" for="da2">
                      <input class="checkbox__input" type="checkbox" name="da2" id="da2">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="marry">
  
                    </label>
                    <label class="checkbox" for="da3">
                      <input class="checkbox__input" type="checkbox" name="da3" id="da3">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="openyour own project">
  
                    </label>
                    <label class="checkbox" for="da4">
                      <input class="checkbox__input" type="checkbox" name="da4" id="da4">
                      <div class="checkbox__box"></div>
                      <input type="text" placeholder="invest">
  
                    </label>
                    
                    </form>
                  
              </div>
              
                <p class="move-on">
                    Done with Doing? Move on to : <img id="being-img" src="./img/pick.png"> <a id="display-pick" href="#">Pick 4 Dreams</a>
                </p>
              </section>
              <section id="show-pick">
                <h1> <img src="./img/pick.png"> Pick 4 dreams</h1>
                
                <p>
                   Review all the  <a href="#">Having</a>,  <a href="#">Being</a>, 
                    <a class="space-right" href="#">Doing</a> dreams you wrote in the last 3 steps, and pick 4 that would change your life.
                </p>
                
                
                <div id="having-input" >
                 <button class="btn-outline" onclick="getHaving()">Having</button>
                 
                </div>
                <div id="being-input" >
                  <button class="btn-outline" onclick="getBeing()">Being</button>
                  
                 </div>
                 <div id="doing-input" >
                  <button class="btn-outline" onclick="getDoing()">Doing</button>
                  
                 </div>
                
                
                  
                  
                  
                
              

                 
                
                <p class="move-on">
                    Done with picking dreams? Move to: <img id="pick-img" src="./img/costs.png"> <a id="display-costs" href="#">Costs & Actions</a>
                </p>
              </section>

              <section id="show-costs">
                <h1> <img src="./img/costs.png"> Costs & Actions</h1>
                
                <p>
                   Now, determinethe costs of each dream you selected and indicate if it is monthly or one-time cost.
                </p>
                <table>
                  <tr>
                    <th>Type</th>
                    <th>Dream</th>
                    <th>Costs</th>
                    <th>Cost Type</th>
                  </tr>
                  <tr>
                    <td><p>Having</p></td>
                    <td>
                      <input type="text" placeholder="dream">
                      <input type="text" placeholder="dream">

                    </td>
                    <td>
                      <input type="number" placeholder="$000">
                      <input type="number" placeholder="$000">
                    </td>
                    <td>
                      <select>
                      <option>one-time</option>
                      <option>monthly</option>
                      </select>
                      <select >
                        <option>one-time</option>
                        <option>monthly</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><p>Being</p></td>
                    <td>
                      <input type="text" placeholder="dream">
                      <input type="text" placeholder="dream">

                    </td>
                    <td>
                      <input type="number" placeholder="$000">
                      <input type="number" placeholder="$000">
                    </td>
                    <td>
                      <select>
                      <option>one-time</option>
                      <option>monthly</option>
                      </select>
                      <select >
                        <option>one-time</option>
                        <option>monthly</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><p>Doing</p></td>
                    <td>
                      <input type="text" placeholder="dream">
                      <input type="text" placeholder="dream">

                    </td>
                    <td>
                      <input type="number" placeholder="$000">
                      <input type="number" placeholder="$000">
                    </td>
                    <td>
                      <select>
                      <option>one-time</option>
                      <option>monthly</option>
                      </select>
                      <select >
                        <option>one-time</option>
                        <option>monthly</option>
                      </select>
                    </td>
                  </tr>

                </table>
                <p>
                  It's time to take action! Write the steps you need to do now, tomorrow, and the day after to acheive your dreams.
               </p>
                
               <table>
                 <tr>
                   <th>Dream</th>
                   <th>Steps Now</th>
                   <th>Steps Tomorrow</th>
                   <th>Steps Day After</th>
                 </tr>
                 <tr>
                   <td ><input class="hdream"></td>
                   <td><input></td>
                   <td><input></td>
                   <td><input></td>
                 </tr>
                 <tr>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                </tr>
                <tr>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                </tr>
                <tr>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                  <td><input></td>
                </tr>
                 
               </table>
                
                <p class="move-on">
                    Move on to the last step: <img id="pick-img" src="./img/expences.png"> <a id="display-expenses" href="#">Monthly Expenses</a>
                </p>
              </section>

              <section id="show-expenses">
                <h1> <img src="./img/expences.png"> Monthly Expences</h1>
                
                <p>
                   List your monthly expences. These will be multiplied by 1.3(your expences + a 30% buffer for safety or savings)
                    and add it to your dreams' costs to determine your <img src="./img/income.png"> <a href="#">Target Monthly Income</a>
                </p>
                
                <table class="target">
                  <tr>
                    <th>Expense Category</th>
                    <th>Monthly Cost</th>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Rent/Mortgage"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Property Taxes"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Education/Tuition"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Credit Card Minimum Payments"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Car payments"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Other Loan Payments"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Car Insurance"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Home Insurance"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Life Insurance"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Health/Dental Insurance"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Telephone"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Heating/Electricity"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Water"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Gasoline"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Public Transportaion"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Eating out"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Subscriptions (Online and Offline)"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  <tr>
                    <td class="first"><input type="text" placeholder="Membership"></td>
                    <td class="second"><input type="number" placeholder="$0"></td>
                  </tr>
                  
                </table>
                
                
                <p class="move-on">
                    You're all done! See your TMI:: <img id="pick-img" src="./img/income.png"> <a id="display-target" href="#">Target Monthly Income</a>
                </p>
              </section>

              <section id="show-target">
                <h1> <img src="./img/income.png"> Target Monthly Income</h1>
                
                <p >
                   Welldone you've completed your dreamline calculator! Below is your summary:
                </p>
                <h3>Monthly Expenses with 30% Buffer</h3>
                <span class="cash">$0.00</span>
                <h3>Target Monthly Income(TMI) 12 monthes</h3>
                <p class="summary">Monthly cashflow you need to acheive your dreams and live your ideal lifestyle.(One-time expenses have been divided by total monthes in dreamline).

                </p>
                <span class="cash">$0.00 = $0.00 + $0.00 + $0.00 + $0.00</span>
                <p class="summary">
                  Target Monthly Income = "Having" Costs + "Being" Costs + "Doing" Costs + (1.3 X Monthly Expenses)
                </p>
                <h3>Target Daily Income (TDI)</h3>
                <p class="summary">
                  Daily cashflow you need to acheive your dreams and live your ideal lifestyle
                </p>
                <span class="cash">$0.00</span>
                <p class="summary">
                  (Target Daily Income = TMI/30) 
                </p>
                <h2>Summary</h2>
                <button class="btn-outline" id="display-having-summary">Having</button>
                <div id="having-summary">
                  <h3>Dreams:</h3>
                  <p>your dreams here</p>
                  <h3>Step Now:</h3>
                  <p>your step here</p>
                  <h3>Step tomorrow:</h3>
                  <p>your step here</p>
                  <h3>Step day after:</h3>
                  <p>your step here</p>
                </div>
                <button class="btn-outline" id="display-being-summary">Being</button>
                <div id="Being-summary">
                  <h3>Dreams:</h3>
                  <p>your dreams here</p>
                  <h3>Step Now:</h3>
                  <p>your step here</p>
                  <h3>Step tomorrow:</h3>
                  <p>your step here</p>
                  <h3>Step day after:</h3>
                  <p>your step here</p>
                </div>
                <button class="btn-outline" id="display-doing-summary">Doing</button>
                <div id="Doing-summary">
                  <h3>Dreams:</h3>
                  <p>your dreams here</p>
                  <h3>Step Now:</h3>
                  <p>your step here</p>
                  <h3>Step tomorrow:</h3>
                  <p>your step here</p>
                  <h3>Step day after:</h3>
                  <p>your step here</p>
                </div>
                
              </section>

            </section>
            </header>
            
        </div>    
    </main>
    <!--footer-->
    <footer class="container">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Privacy & Policy</a>
        </li>
      </ul>
      <div class="social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-snapchat"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <p class="copyright">
        &copy; Dreamline 2021
      </p>
    </footer>
    <!-- JavaScript Files -->
    <script src="./app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $('#show-having').hide();
        $('#show-being').hide();
        $('#show-doing').hide();
        $('#show-pick').hide();
        $('#show-expenses').hide();
        $('#show-target').hide();
        $('#show-costs').hide();
        $('#having-summary').hide();
        $('#Being-summary').hide();
        $('#Doing-summary').hide();
        $('#display-having').on('click', function() {
          $('#show-having').show(2000);
          $('#showed-by-defaulf').hide();
        });
        $('#display-being').on('click', function() {
          $('#show-being').show(2000);
          $('#show-having').hide();
        });
        $('#display-doing').on('click', function() {
          $('#show-doing').show(2000);
          $('#show-being').hide();
        });
        $('#display-pick').on('click', function() {
          $('#show-pick').show(3000);
          $('#show-doing').hide();
        });
        $('#display-costs').on('click', function() {
          $('#show-costs').show(3000);
          $('#show-pick').hide();
        });
        $('#display-expenses').on('click', function() {
          $('#show-expenses').show(3000);
          $('#show-costs').hide();
        });
        $('#display-target').on('click', function() {
          $('#show-target').show(3000);
          $('#show-expenses').hide();
        });
        $('#display-having-summary').on('click', function() {
          $('#having-summary').toggle(2000);
          
        });
        $('#display-being-summary').on('click', function() {
          $('#Being-summary').toggle(2000);
          
        });
        $('#display-doing-summary').on('click', function() {
          $('#Doing-summary').toggle(2000);
          
        });
      });
    </script>
    <script>
      
     function getHaving() {
       var data = document.getElementById('having-selected');
       var pick = document.getElementById('having-input');
       pick.append(data);
       return;
     }
     function getBeing() {
       var dataa = document.getElementById('being-selected');
       var pickk = document.getElementById('being-input');
       pickk.append(dataa);
       return;
     }
     function getDoing() {
       var dataaa = document.getElementById('doing-selected');
       var pickkk = document.getElementById('doing-input');
       pickkk.append(dataaa);
       return;
     }
     
      </script>
</body>
</html>