{% extends 'base.html' %} {% block title%} {% endblock%}{% block content%}

<div class="container">

    <h1 class="h3 mb-3 font-weight-normal">
        Please Login
    </h1>
    <!--login form for new user-->

    <form method="POST" class="body-form">
        <!-- protect from CSRF attack -->
        {{ form.hidden_tag() }}
        <div class="input-login ">
            {{ form.username(id="username ", class="input ", type="text", placeholder=" ") }}
            <div class="cut "></div>
            <label for="username " class="placeholder ">Username</label>
        </div>

        <div class="input-login">
            {{ form.password(id="password ", class="input ", type="password", placeholder=" ") }}
            <div class="cut "></div>
            <label for="password" class="placeholder ">Password</label>
        </div>
        {{ form.submit(type="submit", class="submit-login btn") }}

    </form>

    <h6>Do not have an account?</h6>
    <div class="checkbox mb-3">

        <a class="btn submit-login" href="{{ url_for('register_page') }}">Register</a>
    </div>


</div>

</div>{% endblock%}