{% extends 'base.html' %} {% block title%} {% endblock%}{% block content%}

<body class="text-center">
    <div class="container">
        <form method="POST" class="body-form" style="color:black">
            <div class="form">
                <div class="title">Welcome</div>
                <div class="subtitle">Let's create your account!</div>
                <div class="input-container ic1">
                    {{ form.username(id="username", class="input", type="text", placeholder="Username") }}

                </div>
                <div class="input-container ic2">
                    {{ form.password1(id="password", class="input", type="text", placeholder="Password") }}

                </div>
        </form>
        </div>
    </div>
</body>{% endblock%}